[Desktop Entry]
Name=Unity of Command
Comment=Play this game on Steam
Exec=steam steam://rungameid/218090
Icon=steam_icon_218090
Terminal=false
Type=Application
Categories=Game;
